CollectionPortalDashboard/Web References/WSFinance/FinanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhotoResult" type="tns:OutputModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OutputModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BRIVAModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="statusBayar" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lastUpdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="expiredDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="brivaNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nama" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="keterangan" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BrivaPaymentModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BRIVAModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="paymentDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="tellerid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="no_rek" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityReferenceOfBRIVABulk">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BRIVABulkDetil">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Suid" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="SeqNbr" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Checked" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="PolicyNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndtType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CancelReplaceFlag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DocNbr" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DocType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="InstallmentSeq" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="BRIVABulkReference" type="tns:EntityReferenceOfBRIVABulk" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BRIVABulk">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Suid" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="Brivano" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PayeeID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OverwriteAddRemove" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="Keterangan" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BRIVADueDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastJobScheduleRunSeq" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSystem" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeNIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserIDCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdCtr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBRIVABulkDetil">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BRIVABulkDetil" nillable="true" type="tns:BRIVABulkDetil" />
        </s:sequence>
      </s:complexType>
      <s:element name="TPIPusatLogon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TPIPusatLogonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TPIPusatLogonResult" type="tns:OutputModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brivaNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="tns:OutputModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfUpdateAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SUID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfUpdateAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListOfUpdateAmountResult" type="tns:OutputModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListOfSeq" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SUID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAmountResult" type="tns:OutputModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBRIVALog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SUID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBRIVALogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertBRIVALogResult" type="tns:OutputModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhoto" />
  </wsdl:message>
  <wsdl:message name="GetPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="TPIPusatLogonSoapIn">
    <wsdl:part name="parameters" element="tns:TPIPusatLogon" />
  </wsdl:message>
  <wsdl:message name="TPIPusatLogonSoapOut">
    <wsdl:part name="parameters" element="tns:TPIPusatLogonResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetListOfUpdateAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetListOfUpdateAmount" />
  </wsdl:message>
  <wsdl:message name="GetListOfUpdateAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetListOfUpdateAmountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAmountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAmount" />
  </wsdl:message>
  <wsdl:message name="UpdateAmountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAmountResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBRIVALogSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBRIVALog" />
  </wsdl:message>
  <wsdl:message name="InsertBRIVALogSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBRIVALogResponse" />
  </wsdl:message>
  <wsdl:portType name="FinanceServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhoto">
      <wsdl:input message="tns:GetPhotoSoapIn" />
      <wsdl:output message="tns:GetPhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TPIPusatLogon">
      <wsdl:input message="tns:TPIPusatLogonSoapIn" />
      <wsdl:output message="tns:TPIPusatLogonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfUpdateAmount">
      <wsdl:input message="tns:GetListOfUpdateAmountSoapIn" />
      <wsdl:output message="tns:GetListOfUpdateAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAmount">
      <wsdl:input message="tns:UpdateAmountSoapIn" />
      <wsdl:output message="tns:UpdateAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBRIVALog">
      <wsdl:input message="tns:InsertBRIVALogSoapIn" />
      <wsdl:output message="tns:InsertBRIVALogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinanceServiceSoap" type="tns:FinanceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoto">
      <soap:operation soapAction="http://tempuri.org/GetPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TPIPusatLogon">
      <soap:operation soapAction="http://tempuri.org/TPIPusatLogon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfUpdateAmount">
      <soap:operation soapAction="http://tempuri.org/GetListOfUpdateAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAmount">
      <soap:operation soapAction="http://tempuri.org/UpdateAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBRIVALog">
      <soap:operation soapAction="http://tempuri.org/InsertBRIVALog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinanceServiceSoap12" type="tns:FinanceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoto">
      <soap12:operation soapAction="http://tempuri.org/GetPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TPIPusatLogon">
      <soap12:operation soapAction="http://tempuri.org/TPIPusatLogon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfUpdateAmount">
      <soap12:operation soapAction="http://tempuri.org/GetListOfUpdateAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAmount">
      <soap12:operation soapAction="http://tempuri.org/UpdateAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBRIVALog">
      <soap12:operation soapAction="http://tempuri.org/InsertBRIVALog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanceService">
    <wsdl:port name="FinanceServiceSoap" binding="tns:FinanceServiceSoap">
      <soap:address location="http://jktvwapps01/twagateway/FinanceService.asmx" />
    </wsdl:port>
    <wsdl:port name="FinanceServiceSoap12" binding="tns:FinanceServiceSoap12">
      <soap12:address location="http://jktvwapps01/twagateway/FinanceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>